<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Countries Conflict</title>

<link rel="stylesheet" href="style.css">

<style>

.borderwrapper {
    overflow: auto;
    border-radius: 10px;
    border: 1px solid #6b882b;
    width: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #1b302d;
}

tr:nth-child(odd) {
    background-color: #0c201e;
}

</style>

</head>

<body>
    <div id="contents">
        <div class="top-bar">
            <div class="menu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="map.html">Map</a></li>
                    <li><a href="manage.html">Manage</a></li>
                    <li><a href="auth.html">Auth</a></li>
                    <li><a href="aboutus.html">About us</a></li>
                </ul>
            </div>
        </div>
        <center><h1>Countries hidden contribution to conflicts</h1></center>
        <img style="width: 100%; height: 100%;" src="https://media.discordapp.net/attachments/770293089406287882/774986150086443028/Webp.net-resizeimage.jpg?width=1920&height=1080">

        <h2>IDEA PITCH</h2>
        <p>We aim to simplify and democratize the understanding of countries' contribution to conflict and the trade of arms.</p>
        <h2>IDEA DESCRIPTION</h2>
        <p>Building a webapp in the form of a dashboard where information is visualized. This showing where there are conflicts. By selecting a conflict or a country a graph with connected trades of arms will be presented.</p>
        <p>The trade data will be scraped from official websites or imported by authorized users and the conflicts will be gathered from the UN website. Possibly adding other platforms such as twitter to proactively find emerging conflict with the help of natural language algorithms.</p>
    </div>
</body>
</html>
