<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <link href="nouislider.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<style>
    body {
        background: #152624 !important;
        color: white !important;

        padding: 0;
        bottom: 0;
        font-family: Arial;
        font-weight: lighter;
        font-size: 15;
        height: 100vh;
        margin: 0;
    }

    #main-page {
        margin-left: 3em;
        margin-right: 3em;

        display: flex;
        flex-direction: row;
    }

    #col-left {
        width: 70%;
        padding: 2em;
        box-sizing: border-box;
        margin-right: 1em;
    }

    #col-right {
        margin-left: 1em;
        margin-top: 5em;
    }

    #world-map {
        margin-top: 5em;
        width: 100%;
        height: 70vh;
    }

    #slider {
        width: 100%;
    }

    .color-hint {
        margin-top: 0.3em;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }

    .color-square {
        width: 1em;
        height: 1em;
        border-radius: 5px;
        display: inline-block;
        margin-right: 1ex;
    }

    .hoverinfo {
        color: black;
    }

    .selected {
        font-style: italic;
        color: #ffffff;
    }

    .unselected {
        color: #999999;
    }

    .confpiccont {
        width: 180px;
        height: 180px;
    }

    .confpic {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .infotext {
        margin: 0;
    }
</style>

<body>
    <div class="top-bar">
        <div class="menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="map.html">Map</a></li>
                <li><a href="manage.html">Manage</a></li>
                <li><a href="auth.html">Auth</a></li>
            </ul>
        </div>
    </div>
    <script src="nouislider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="https://datamaps.github.io/scripts/0.5.8/datamaps.world.hires.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/2.3.10/seedrandom.min.js"></script>
    <div id="main-page">
        <div id="col-left">
            <div id="slider"></div>

            <div id="world-map">
            </div>
        </div>
        <div id="col-right">
            <div id="color-hints">
            </div>

            <div id="conflicts">
            </div>
        </div>
    </div>

    <script>
        var map;
        var trades = []
        var mapping = {}
        var reverseMapping = {}
        // var countryFilter = {}
        var fetchedCountry = {}
        var lastCountry = ""
        var country_conflicts = [];

        var color_hints = {}; // {color: key}

        var filter_weapons = new Set();

        window.onload = async function () {
            map = new Datamap({
                element: document.getElementById("world-map"),
                projection: "mercator",
                geographyConfig: {
                    borderColor: '#444',
                    borderWidth: 0.5,
                },
                done: function (datamap) {
                    datamap.svg.selectAll('.datamaps-subunit').on('click', async function (geography) {
                        filter_weapons.clear();
                        console.log(geography)
                        // countryFilter[geography.id] ^= 1
                        await fetchAndProcessCountry(geography.id)
                        await updateArcs(geography.id)
                    });
                },
                arcConfig: {
                    strokeColor: '#DD1C7760',
                    strokeWidth: 1,
                    arcSharpness: 1,
                    animationSpeed: 1500, // Milliseconds
                    popupOnHover: true, // True to show the popup while hovering
                    popupTemplate: function (geography, data) { // This function should just return a string
                        // Case with latitude and longitude
                        if ((data.origin && data.destination) && data.origin.latitude && data.origin.longitude && data.destination.latitude && data.destination.longitude) {
                            return '<div class="hoverinfo"><strong>Arc</strong><br>Origin: ' + JSON.stringify(data.origin) + '<br>Destination: ' + JSON.stringify(data.destination) + '</div>';
                        }
                        // Case with only country name
                        else if (data.origin && data.destination) {
                            return '<div class="hoverinfo"><strong>Arc</strong><br>' +
                                data.origin + ' -> ' + data.destination + '<br>' +
                                data.w_name + " x " + data.w_amount + "</div>";
                        }
                        // Missing information
                        else {
                            return '';
                        }
                    }
                },
                fills: {
                    defaultFill: "#eeeeee",
                    hasConflict: "#888888"
                },
                strokeColor: "#000000",
            });

            var slider = document.getElementById('slider');

            noUiSlider.create(slider, {
                start: [2019, 2020],
                connect: true,
                range: {
                    'min': 2000,
                    'max': 2020
                },
                step: 1,
                pips: {
                    mode: 'steps',
                    density: 1,
                    // format: wNumb({
                    //     decimals: 2,
                    //     prefix: '€'
                    // })
                }
            });

            slider.noUiSlider.on("update", function () {
                updateArcs(lastCountry);
                updateConflicts();
            })

            corrections = {
                "RUS": "Russia",
                "IRN": "Iran",
                "LAO": "Laos",
                "VEN": "Venezuela",
                "CZE": "Czechia",
                "KOR": "South Korea",
                "ARE": "UAE",
                "SYR": "Syria",
                "PRK": "North Korea",
                "CIV": "Cote d'Ivoire",
                "TZA": "Tanzania",
                "BOL": "Bolivia",
                "COD": "DR Congo",
            }

            geometries = map.worldTopo.objects.world.geometries
            for (i = 0; i < geometries.length; i++) {
                name = (geometries[i].id in corrections) ? corrections[geometries[i].id] : geometries[i].properties.name
                mapping[name] = geometries[i].id
                reverseMapping[geometries[i].id] = name
            }

            for (countrymapping in mapping) {
                // countryFilter[mapping[countrymapping]] = 0
                // reverseMapping[mapping[countrymapping]] = countrymapping
                fetchedCountry[mapping[countrymapping]] = false
            }

            await fetchAndProcessCountry("SWE")
            await updateArcs()

            await fetchAndProcessConflicts();
            updateConflicts();
        }

        async function fetchAndProcessConflicts() {
            response_raw = await fetch(document.location.origin + '/api/query_conflict');
            response = await response_raw.json();

            country_conflicts = {};
            for (var i = 0; i < response.length; i++) {
                let conflict = response[i];
                if (!(conflict.country in country_conflicts)) {
                    country_conflicts[conflict.country] = [];
                }

                country_conflicts[conflict.country].push({
                    "picture_url": conflict["picture_url"],
                    "source": conflict["source"],
                    "info": conflict["info"],
                });
            }
        }

        function updateConflicts() {
            for (country in mapping) {
                var fillKey = "defaultFill";
                if (country in country_conflicts) {
                    let conflict = country_conflicts[i];

                    fillKey = "hasConflict";
                }

                map.updateChoropleth({
                    [mapping[country]]: { fillKey: fillKey },
                });
            }
        }

        async function fetchAndProcessCountry(countryCode) {
            if (fetchedCountry[countryCode]) return
            var url = new URL(document.location.origin + '/api/query_trade')

            url.search = new URLSearchParams({ "country_from": reverseMapping[countryCode] }).toString();

            let response = await fetch(url);
            let rawTrades = await response.json()

            url = new URL(document.location.origin + '/api/query_trade')

            url.search = new URLSearchParams({ "country_to": reverseMapping[countryCode] }).toString();

            response = await fetch(url);
            rawTrades = rawTrades.concat(await response.json())


            for (var i = 0; i < rawTrades.length; i++) {
                if (!(rawTrades[i].country_to in mapping)) {
                    console.log(rawTrades[i].country_to + " not in mapping")
                    continue
                }
                if (!(rawTrades[i].country_from in mapping)) {
                    console.log(rawTrades[i].country_from + " not in mapping")
                    continue
                }

                trades.push({ ...rawTrades[i], country_to: mapping[rawTrades[i].country_to], country_from: mapping[rawTrades[i].country_from] })
            }
            fetchedCountry[countryCode] = true
        }

        function generate_color(previous_colors) {
            var best_color = null;
            var best_dist = 1000000000000;
            for (var i = 0; i < 1000; i++) {
                let new_color = [0 | (Math.random() * 255), 0 | (Math.random() * 255), 0 | (Math.random() * 255)];

                var dist = 0;
                for (var j = 0; j < previous_colors.length; j++) {
                    var disth = 0;
                    disth += Math.abs(new_color[0] - previous_colors[j][0]);
                    disth += Math.abs(new_color[1] - previous_colors[j][1]);
                    disth += Math.abs(new_color[2] - previous_colors[j][2]);
                    dist += 1 / (50 + disth);
                }

                if (dist < best_dist) {
                    best_color = new_color;
                    best_dist = dist;
                }
            }
            return best_color;
        }

        async function updateArcs(countryCode) {
            let arcs = []
            let minyear = Math.round(slider.noUiSlider.get()[0])
            let maxyear = Math.round(slider.noUiSlider.get()[1])
            console.log(minyear)
            console.log(maxyear)

            color_hints = {};
            var colors = [[0, 0, 0], [0, 0, 0], [255, 255, 255], [255, 255, 255]];
            var colors_added = [];

            for (trade in trades) {
                // console.log(trades[trade].country_from === countryCode || trades[trade].country_to === countryCode)
                // console.log(trade.trade_start >= minyear)
                // console.log(trade.trade_start <= maxyear)
                // console.log(trade)
                if ((trades[trade].country_from === countryCode || trades[trade].country_to === countryCode) && trades[trade].trade_start >= minyear && trades[trade].trade_start <= maxyear) {
                    let is_sending = trades[trade].country_from == countryCode;
                    let trade_name = (is_sending ? "Selling" : "Purchasing") + " " + trades[trade].weapon_name;

                    Math.seedrandom(trades[trade])
                    var sharp = 1 - Math.random() * 2;

                    var color;
                    if (trade_name in color_hints) {
                        color = color_hints[trade_name].color;
                        color_hints[trade_name].total += trades[trade].amount;
                    } else {
                        color = generate_color(colors);
                        colors.push(color);
                        color = "rgba(" + color[0] + ", " + color[1] + ", " + color[2] + ", 0.5)";
                        color_hints[trade_name] = { "color": color, "total": trades[trade].amount };
                    }

                    if (!filter_weapons.has(trade_name) && filter_weapons.size > 0) {
                        continue;
                    }
                    arcs.push({
                        origin: trades[trade].country_from,
                        destination: trades[trade].country_to,
                        arcSharpness: sharp,
                        strokeColor: color,
                        strokeWidth: 2 + Math.log(trades[trade].amount),
                        w_name: trade_name,
                        w_amount: trades[trade].amount,
                    })
                }
            }
            // Group similar trades
            for (var i = 0; i < arcs.length; i++) {
                for (var j = 0; j < i; j++) {
                    if (arcs[i].origin === arcs[j].origin &&
                        arcs[i].destination === arcs[j].destination &&
                        arcs[i].w_name === arcs[j].w_name) {

                        arcs[j].w_amount += arcs[i].w_amount;
                        arcs.splice(i, 1);
                        i -= 1;
                        break;
                    }
                }
            }

            map.arc(arcs)
            lastCountry = countryCode

            render_sidebar();
        }

        function render_sidebar() {
            let elem = document.getElementById("color-hints");

            elem.innerHTML = Object.keys(color_hints).length == 0 ? "" : "  <p> (Click to filter) </p> ";

            let weapons = Object.keys(color_hints);
            weapons.sort();

            for (var i = 0; i < weapons.length; i++) {
                var weapon_name = weapons[i];

                var square = document.createElement("div");
                square.className += "color-square";
                square.style = "background: " + color_hints[weapon_name].color + ";";

                var color_hint = document.createElement("div");
                color_hint.className += "color-hint";
                color_hint.appendChild(square);

                var desc = document.createTextNode("- " + weapon_name + " x " + color_hints[weapon_name].total);
                if (filter_weapons.has(weapon_name)) {
                    color_hint.className += " selected";
                } else {
                    if (filter_weapons.size > 0) {
                        color_hint.className += " unselected";
                    }
                }

                let name = weapon_name; // Capture
                color_hint.addEventListener("click", () => {
                    console.log("hej " + name);
                    if (filter_weapons.has(name)) {
                        filter_weapons.delete(name);
                    } else {
                        filter_weapons.add(name);
                    }
                    render_sidebar();
                    updateArcs(lastCountry);
                });

                color_hint.appendChild(desc);

                elem.appendChild(color_hint);
            }

            var econflicts = document.getElementById("conflicts");
            econflicts.innerHTML = "";
            // Conflict
            if (reverseMapping[lastCountry] in country_conflicts) {
                econflicts.innerHTML = "<h3> Conflicts </h3>";

                let conflicts = country_conflicts[reverseMapping[lastCountry]];
                for (var i = 0; i < conflicts.length; i++) {
                    var conflict = conflicts[i];
                    var econflict = document.createElement("div");
                    econflict.className += "conflict";

                    var piccont = document.createElement("div");
                    piccont.className = "confpiccont";

                    var picture = document.createElement("img");
                    picture.src = conflict["picture_url"]
                    picture.className = "confpic";

                    piccont.appendChild(picture);
                    econflict.appendChild(piccont);

                    var info = document.createElement("div");
                    info.style = "height:300px;width:300px;overflow:auto;padding:2%"; 
                    info.className += "infotext";
                    info.textContent = conflict.info.replace('<newline>','\n');
                    console.log(info); 
                    if (info.textContent.length > 400) {
                        info.textContent = info.textContent.substr(0, 400);
                        info.textContent += "...";
                    }
                    econflict.appendChild(info);

                    econflicts.appendChild(econflict);
                }
            }
        }

    </script>
</body>

</html>